@media (min-width: 1025px) {
  .only-pc {
    display: block;
  }
  .only-tb {
    display: none;
  }
  .only-sp {
    display: none;
  }
}

@media (max-width: 1024px) {
  .only-pc {
    display: none;
  }
  .only-tb {
    display: block;
  }
  .only-sp {
    display: none;
  }
}

@media (max-width: 767px) {
  .only-pc {
    display: none;
  }
  .only-tb {
    display: none;
  }
  .only-sp {
    display: block;
  }
}

@font-face {
  font-family: 'AMD';
  src: url("../fonts/AMDRTG.ttf") format("truetype");
}

@font-face {
  font-family: 'JKGothicL';
  src: url("../fonts/JKGothicL.woff") format("woff"), url("../fonts/JKGothicL.ttf") format("truetype");
}

@font-face {
  font-family: 'JKGothicM';
  src: url("../fonts/JKGothicM.woff") format("woff"), url("../fonts/JKGothicM.ttf") format("truetype");
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'JKGothicL','JKGothicM',sans-serif;
  font-size: 16px;
}

body {
  background: #EFF4F7;
}

body a {
  text-decoration: none;
}

body a:hover {
  -webkit-text-decoration: dotted #4baae0;
          text-decoration: dotted #4baae0;
}

body b {
  font-family: 'JKGothicM';
}

.hero {
  height: 550px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -2;
}

.hero .title {
  text-align: center;
  font-family: 'AMD';
  font-size: 100px;
  color: #ffaec9;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 15%;
}

.hero .title img {
  max-width: 100%;
}

.contents {
  position: relative;
  overflow: hidden;
  margin-top: 300px;
  padding: 80px 0 0 0;
}

.contents:before, .contents:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 80%;
  margin: 3% -10% 0;
}

.contents:before {
  background: #4baae0;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
  z-index: -2;
}

.contents:after {
  background: #ffaec9;
  background: #344258;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
  z-index: -1;
}

.contents .contents_inner {
  -webkit-box-sizing: boder-box;
          box-sizing: boder-box;
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 10px 120px;
  color: #fff;
  text-align: center;
}

.contents .contents_inner .subject {
  font-size: 3em;
  border-bottom: 2px solid #fff;
  margin: 0 0 30px 0;
}

.contents .contents_inner .block {
  margin: 20px 0 150px 0;
}

.contents .contents_inner .circle {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
}

.contents .contents_inner img {
  -webkit-user-drag: none;
}

@media (max-width: 767px) {
  .contents_inner {
    padding: 20px 10px 120px;
  }
  .contents:before, .contents:after {
    height: 90%;
  }
}
/*# sourceMappingURL=style.css.map */